body {
    background-color: #ffd369;
}

.fl {
    padding-left: 10px;
}

h1 {
    padding-left: 5px;
}

img {
    height: 200px;
    width: 200px;
    padding: 20px;
}

.cl {
    background-color: #ffd369;
}